<?xml version="1.0"?>
<!--
    This file is part of ALPHA AUV project.

    Author: Tony Jacob
    Email: tony.jacob@uri.edu
    Year: 2024

    Copyright (C) 2023-2024 Smart Ocean Systems Laboratory
-->
<launch>

    <arg name="robot_name" default="alpha_rise"/>

    <arg name="is_sim" default="false"/>

    <!-- Bring up the ROS TF  -->
    <include file="$(find alpha_rise_bringup)/launch/include/description.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include>

    <!-- Bring up the Localization Solution -->
    <include file="$(find alpha_rise_bringup)/launch/include/localization.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
        <arg name="is_sim" default="$(arg is_sim)"/>
    </include>

</launch>