<?xml version="1.0"?>
<!--
    This file is part of ALPHA AUV project.

    Author: Lin Zhao
    Email: linzhao@uri.edu
    Year: 2023

    Copyright (C) 2022-2023 Smart Ocean Systems Laboratory
-->
<launch>

  <arg name="robot_name" default="alpha_rise"/>

  <!-- copy some test launch here -->
  <include file="$(find alpha_rise_bringup)/launch/include/power_monitor.launch.xml">
    <arg name="robot_name" value="$(arg robot_name)"/>
  </include>  
</launch>