<?xml version="1.0" ?>

<launch>
 <arg name="robot_name" default="alpha_rise"/>

  <!-- magnetometer calibration -->
    <node ns="$(arg robot_name)" pkg="calib_magnetometer" type="calibrate_imu.py" name="mag_calibrator" output="screen">
      <param name="publish_calibrated" value="False" />
      <param name="multi_datasets" value="False" />
      <param name="max_samples" value="10000" />
      <param name="use_sim_time" value="false" />
      <param name="calibrations_dir" value="$(find calib_magnetometer)/result" />
      <remap from="/magnetometer" to="mag"/>
    </node>

    <!-- gyro calibrtion  -->
    <!-- <node ns="$(arg robot_name)" pkg="calib_gyro" type="calibrate_gyro.py" name="gyro_calibrator" output="screen">
    </node> -->

    <!-- accelerometer calibrtion  -->
    <!-- <node ns="$(arg robot_name)" pkg="calib_accelerometer" type="calib_accel" name="accl_calibrator" output="screen">
      <remap from="/imu_input" to="imu/data"/>
      <param name="max_samples" value="600" />
      <param name="log" value="false" />
    </node> -->

    <!-- Bring up Xsens AHRS -->
    <include file="$(find alpha_rise_bringup)/launch/include/microstrain.launch.xml">
        <arg name="robot_name" value="$(arg robot_name)"/>
    </include> 

    <!-- visualization: opengl 4.0 issue, use opengl 3.0 instead -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-1-opengl 300 -d $(find calib_magnetometer)/launch/display.rviz" />  -->

  <!-- ros service for send commands: start,stop,calibrate -->


</launch>


